* {
	font-family: 'Press Start 2P', cursive;
	box-sizing: border-box;
	background-color: black;
	color: white;
}

.main {
	display: flex;
	position: relative;
	padding-top: 10vh; 
}

.board-container {
	width: 320px;
	height: 80vh;
	border: 2px solid white;
	margin: 0 30px 0 10vw;
}

.play-btn {
	position: absolute;
	bottom: 20px;
	left: calc(10vw + 350px);
	padding: 10px 20px;
	width: 200px;
	background-color: yellow;
	color: black;
	font-size: 16px;
	cursor: pointer;
}
