[data-theme="light"] * {
  background-color: white;
  color: black;
	border-color: black;
}

* {
	font-family: 'Press Start 2P', cursive;
	box-sizing: border-box;
	background-color: black;
	color: white;
	border-color: white;
}

body {
	height: 100vh;
	margin: 0;
}

.main {
	display: flex;
	position: relative;
	padding-top: 4vh; 
}

.board-container {
	border: 2px solid;
	margin: 0 30px 0 10vw;
}

.btn-container > button {
	position: absolute;
	left: calc(10vw + 350px);
	padding: 10px 20px;
	width: 200px;
	background-color: yellow;
	color: black;
	font-size: 16px;
	cursor: pointer;
}

.btn-container > button:hover {
	background-color: orange;
}

.play-btn {
	bottom: 20px;
}

.setting-btn {
	bottom: 70px;
}

.ending-title {
	position: absolute;
	top: calc(4vh + 250px);
	left: calc(10vw + 20px);
	font-size: 30px;
}

.nextPiece-container {
	position: absolute;
	top: calc(4vh + 180px);
	left: calc(10vw + 330px);
	border: 2px solid;
	padding: 20px;
}
