* {
	font-family: 'Press Start 2P', cursive;
	box-sizing: border-box;
	background-color: black;
	color: white;
}

.main {
	display: flex;
	position: relative;
	padding-top: 4vh; 
}

.board-container {
	border: 2px solid white;
	margin: 0 30px 0 10vw;
}

.play-btn {
	position: absolute;
	bottom: 20px;
	left: calc(10vw + 350px);
	padding: 10px 20px;
	width: 200px;
	background-color: yellow;
	color: black;
	font-size: 16px;
	cursor: pointer;
}

.play-btn:hover {
	background-color: orange;
}

.ending-title {
	position: absolute;
	top: calc(4vh + 300px);
	left: calc(10vw + 25px);
	font-size: 30px;
}

.nextPiece-container {
	position: absolute;
	top: calc(4vh + 180px);
	left: calc(10vw + 330px);
	border: 2px solid white;
	padding: 20px;
}
